@mixin card-benefits {
    padding: 50px;
    border-radius: 20px;
    width: 100%;
    border: 1px solid rgba(202, 255, 51, 0.1);
    background: linear-gradient(
            106deg,
            rgba(202, 255, 51, 0.05) -29.45%,
            rgba(202, 255, 51, 0) 27.86%
        );

    .header-card {
        gap: 20px;
        align-items: center;

        .image {
            padding: 12px;
            border-radius: 70px;
            background: linear-gradient(
                180deg,
                rgba(202, 255, 51, 0.05) 0%,
                rgba(202, 255, 51, 0) 100%
            );
            .icon-image {
                padding: 20px;
                border-radius: 50px;
                background: linear-gradient(
                    180deg,
                    rgba(202, 255, 51, 0.1) -66.22%,
                    rgba(202, 255, 51, 0) 85.46%
                );
            }
        }

        .title-card {
            color: var(--Absolute-White, #fff);
            font-size: 24px;
            font-weight: 400;
        }

        margin-bottom: 30px;
    }

    .desc-card {
        color: var(--Grey-70, #b3b3b3);
        font-size: 18px;
        font-weight: 300;
    }
}
